<div class="jumbotron text-center">
    <div class="container">
        <h1 class="page-header">{{ message }}</h1>

        <form>
            Your Item:<br />
            <input class="form-control form-control-lg" type="text" placeholder="Item" ng-model="product.title"><br />
            Description of Item:
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5" placeholder="Description"
                ng-model="product.desc"></textarea>
            <br />
            <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="addItem()">Add</button>
            <br />
            <br />
            <h2>Item: {{product.title}} </h2>
            <br />
            <h2>Description: {{product.desc}} </h2>
            <br />
            {{cur.title + " - " + cur.desc}}
            <br />
            <button type="button" class="btn btn-secondary btn-lg btn-block" ng-click="backDisp()">Back</button>
        </form>

    </div>
</div>